@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --primary-color: #6a29e9;
    --secondary-color: #00bfff;
    --tertiary-color: #000850;
    --quaternary-color: #26c73B;
    --background-color: #F0F8FF;
    --text-color: #F0F8FF;
    --dark-text-color: #2d2d2d;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'noto sans', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}