@import url("global.css");

.titulos_containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
}

.titulos_containers h2 {
  font-size: 32px;
  font-weight: 700;
  max-width: 60vw;
  color: var(--tertiary-color);
}

.titulos_containers span {
  color: var(--quaternary-color);
}

/* CABEÇALHO COM LOGO E MENU DE NAVEGAÇÃO */
header {
  width: 100%;
  padding: 3px 4%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  transition: 0.7s;
  color: var(--text-color);
}

header.rolagem {
  background-color: var(--secondary-color);
  padding: 0px 7%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a img {
  width: 10rem;
}

header ul {
  list-style-type: none;
  font-size: 13px;
  font-weight: 600;
}

header ul li {
  position: relative;
  display: inline-block;
  margin: 0 20px;
  
}

header ul li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 55%;
  height: 2.2px;
  background-color: var(--text-color);
  border-radius: 2px;
  transition: .1s ease;
}

/* Manter expressura da borda na rolagem */
header.rolagem ul li::after {
  height: 2.3px;
}

header ul li:hover:after {
  width: 100%;
}

header ul li a {
    color: var(--text-color);
    transition: 0.5s;
}

.menu-entrar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icon-menu {
  display: none;
}

.icon-menu button {
  background-color: transparent;
  font-size: 2rem;
}

.mobile-menu {
  display: none;
  background-color: #ffffffc6;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 80%;
}

.mobile-menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.2rem;
  height: 20%;
}

.mobile-menu ul li .item-mobile {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
}

.mobile-menu ul li .item-mobile:hover {
  color: var(--laranja-bg);
}

main .containers {
  width: 100%;
  min-height: 30rem;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

/* BANNER */

.banner {
  width: 100%;
  min-height: 42rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  background: #0E34F6;
  background: linear-gradient(90deg, rgb(41, 67, 233) 30%, rgb(0, 213, 255) 100%);
}

.banner .text-banner h1 {
  font-size: 2.7rem;
}

.banner .text-banner h1 span {
  color: var(--quaternary-color);
}

.banner .text-banner p {
  max-width: 90%;
}

.banner img {
  width: 50%;
}

/* ARTIGOS */
.artigos-relacionados-section {
  max-width: 1300px;
  margin: 80px auto;
  padding: 0 20px;
}

.artigos-relacionados-titulo {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.artigos-relacionados-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.artigo-relacionado-item {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 325px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.artigo-relacionado-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 16px rgba(93, 0, 255, 0.15);
}

.artigo-relacionado-item:hover .artigo-relacionado-link {
  background: var(--primary-color);
  color: #fff;
}

.artigo-relacionado-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.artigo-relacionado-conteudo {
  padding: 20px;
  display: flex;
  height: 12rem;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.artigo-relacionado-tag {
  background: var(--primary-color);
  color: #fff;
  font-size: 0.85rem;
  padding: 6px 16px;
  border-radius: 20px;
  align-self: flex-start;
  font-weight: 500;
}

.artigo-relacionado-subtitulo {
  color: var(--tertiary-color);
  font-size: 1.1rem;
  font-weight: 700;
  margin: 16px 0 10px;
  line-height: 1.4;
}

.artigo-relacionado-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #6c6c6c;
  margin-bottom: 15px;
}

.artigo-relacionado-box-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .7rem;
}

.artigo-relacionado-link {
  width: 93%;
  background: #f0e9ff;
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  font-size: 0.83rem;
  padding: 12px;
  border-radius: 8px;
  transition: all 0.2s ease;
  display: block;
}

.conteudos-projeto {
  padding: 2.5rem;
}

.background-box {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 40px;
  gap: 40px;
  background: linear-gradient(180deg,rgb(79, 32, 172) 35%, rgba(122, 233, 255, 1) 100%);
  border-radius: 30px;
}

.right-box {
  width: 50%;
  height: 25rem;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-box h1 {
  font-size: 2rem;
  font-weight: 700;
}

.right-box p {
  line-height: 1.6;
  font-size: 1rem;
  font-weight: 400;

}

.right-box .box-buttons{
  width: 100%;
  display: flex;
  gap: .7rem;
}

.btn {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.5s ease;
  text-align: center;
  max-width: 200px;
}

.btn:hover {
  background-color: #6128d3;
}

.btn1 {
  background-color: red;
}

.btn1:hover {
  background-color: rgb(194, 22, 22);
}

.left-box {
  background-color: #6a29e9;
  border-radius: 30px;
  flex: 1;
  padding: 30px 20px;
}

.left-box h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.left-box h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.intro {
  line-height: 1.6;
  margin-bottom: 30px;
}

.features {
  display: flex;
  gap: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.features ul {
  list-style: none;
  text-align: center;
}

.features ul li {
  background-color: var(--quaternary-color);
  position: relative;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: .9rem;
  font-weight: 600;
  gap: 10px;
  cursor: pointer;
  color: var(--text-color);
  transition: background 0.5s ease;
}

/* box balao */
.features li::after {
  content: attr(data-info);
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translate(-50%, -100%);
  width: 260px;
  background: var(--quaternary-color);
  padding: 12px 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
  z-index: 20;
  line-height: 1.4;
  border: 2px solid #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.25);
}

/* seta balao */
.features li::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -11px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #fff transparent transparent transparent;
  opacity: 0;
  transition: 0.2s ease;
  z-index: 19;
}

.features li:hover::after,
.features li:hover::before {
  opacity: 1;
}

.features ul li:hover {
  background-color: #1ca52e;
}

/* PROFESSORES */

.professores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.professores .box_professor {
  display: flex;
  width: 1000px;
  color: var(--tertiary-color);
  margin-bottom: 5rem;
}

.professores .box_professor .text_professor {
  padding: 1.5rem;
  border-bottom-left-radius: 20px;
}

.professores .prof1 {
  border-bottom: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
}

.professores .prof2 {
  border-bottom: 1px solid var(--secondary-color);
  border-left: 1px solid var(--secondary-color);
}

.professores .box_professor .text_professor h3 {
  font-size: 1.7rem;
  padding-bottom: .5rem;
}

.professores .box_professor .text_professor h4 {
  width: fit-content;
  font-size: .85rem;
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 50px;
  background-color: var(--quaternary-color);
  color: var(--text-color);
}

.professores .box_professor .text_professor p {
  text-align: justify;
  font-size: .85rem;
  padding-top: 1rem;
  max-width: 90%;
}

.professores .box_professor .text_professor p span {
  font-weight: bold;
}

.professores .box_professor img {
  align-self: center;
  width: 18rem;
  height: 18rem;
  transition: 0.7s ease;
}

.professores .box_professor img:hover {
  transform: translateY(-10px);
}

/* Redes sociais dos professores */
.professores .social-icons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.professores .social-icons .btn-sociais .bi {
  font-size: 1.8rem;
  color: var(--tertiary-color);
  transition: 0.5s;
  margin-right: 9px;
}

.professores .social-icons .btn-sociais i:hover {
  color: var(--quaternary-color);
}

/* BOLSISTAS */

.bolsistas {
  text-align: center;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background: linear-gradient(180deg, #00bfff72 0%, #00bfff30 60%);
}

.titulo-bolsistas h2 {
  color: var(--primary-color);
}

.bolsistas .box {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.bolsistas .box .box-equipe {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 3rem;
}

.bolsistas .box .box-equipe h2 {
  font-size: 1.7rem;
  color: var(--primary-color);
}

.bolsistas .box .box-equipe h2 .bi {
  color: #ffd858;
}

.carrossel-equipe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.seta {
  z-index: 10;
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  color: #ffffffac;
  cursor: pointer;
  transition: color 0.3s ease;
  position: absolute;
}

.seta.esquerda {
  top: 50%;
  left: 40px;
}

.seta.direita {
  top: 50%;
  right: 30px;
}

.seta:hover {
  color: #fff;
}

.equipe-fotos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  gap: 1rem;
}

.foto-container {
  position: relative;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.foto-container:not(.destaque) {
  opacity: 0.8;
  transform: scale(0.9);
}

.foto-container .nome-integrante {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(160deg, var(--primary-color) 40%, var(--secondary-color));
  font-size: .6rem;
  padding: 3px 9px;
  border-radius: 20px;
  white-space: nowrap;
}

.foto-container.destaque .foto {
  width: 180px;
  height: 180px;
  box-shadow: 0 0 20px #6929e97a;
  transform: scale(1.1);
}

.foto-container.destaque .nome-integrante {
  font-size: .9rem;
}

.foto {
  width: 140px;
  height: 140px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box .box-descricao-equipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 28rem;
  height: 23rem;
}

.box-descricao-equipe .titulo-descricao-equipe h2 {
  background: linear-gradient(155deg, var(--primary-color) 45%, var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.box-descricao-equipe .conteudo-descricao-equipe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.conteudo-descricao-equipe .descricao-equipe h3 {
  background: linear-gradient(155deg, var(--primary-color) 35%, var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.conteudo-descricao-equipe .descricao-equipe h4 {
  background: linear-gradient(155deg, var(--primary-color) 60%, var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 1rem;
  white-space: nowrap;
}

.blocos-usuarios {
  width: 100%;
  padding: 3.5rem 1rem;
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(120deg, var(--primary-color)25%, var(--secondary-color));
}

.blocos-usuarios-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.usuarios-lista {
  display: flex;
  align-items: center;
}

.usuarios-lista:hover img {
  opacity: 0.5;
}

.usuarios-lista img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-left: -12px;
  object-fit: cover;
  border: 3px solid #fff;
  cursor: pointer;
}

.usuarios-lista img:hover {
  opacity: 1;
  transform: scale(1.05);
  z-index: 1;
}

.botao-mais {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-left: -12px;
  background-color: #fff;
  color: var(--primary-color);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
  font-weight: bold;
  cursor: pointer;
  transition: .3s ease;
}

.botao-mais:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: 3px solid #fff;
  z-index: 1;
}

.texto-blocos {
  font-size: 1.3rem;
  font-weight: 500;
}

.box-saiba-mais {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}

.box-saiba-mais a {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  transition: .3s ease;
  position: relative;
  display: inline-block;
  transition: .5s ease;
}

.box-saiba-mais a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 60%;
  height: 2.3px;
  background-color: var(--text-color);
  border-radius: 2px;
  transition: .1s ease;
}

.box-saiba-mais a:hover::after {
  width: 100%;
}

/* DEPOIMENTOS DO ALUNOS DO PROJETO */

.section-badge {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.testimonials-tech {
  padding-bottom: 90px;
  width: 100%;
  position: relative;
  color: var(--dark-text-color);
  background: linear-gradient(180deg, #00bfff30 0%, #00bfff00 80%);
  padding-top: 7rem;
}

.tech-line {
  width: 80px;
  height: 3px;
  background-color: var(--tertiary-color);
  margin: 10px auto 40px auto;
  border-radius: 4px;
}

.tech-grid {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.tech-card {
  background: #fff;
  color: var(--dark-text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  transition: 0.3s ease;
  border: 1px #c1c1c1 solid;
}

.tech-card:hover {
  transform: translateY(-10px);
  border: 1px var(--primary-color) solid;
}

.tech-profile {
  margin-top: 15px;
  font-weight: 500;
}

.tech-profile span {
  font-size: 14px;
}

.tech-text {
  font-size: 15px;
  color: #6e6e6e;
  
  line-height: 1.6;
  margin-top: 5px;
}

.tech-rating {
    color: var(--primary-color);
    font-size: 20px;
    letter-spacing: 2px;
}

/* APOIADORES DO PROJETO */

.apoiadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.apoiadores .box-icons-apoio {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.box-icons-apoio img {
  width: 12rem;
  transition: 0.4s ease;
}

.box-icons-apoio .img_ete {
  width: 8.5rem;
}

.box-icons-apoio img:hover {
  transform: translateY(-7px);
}

/* RODAPÉ */

.footer-column h2 {
  font-size: 1.4rem;
  margin-bottom: .5rem;
}

.footer-column .btn-sociais {
  width: 50px;
  height: 50px;
  margin-right: 9px;
  transition: 0.3s;
  text-decoration: none;
}

.footer-column .btn-sociais .bi {
  font-size: 1.5rem;
  color: var(--text-color);
  transition: 0.5s;
}

.footer-column .btn-sociais i:hover {
  color: var(--quaternary-color);
}

.footer {
  background: linear-gradient(180deg, var(--secondary-color) 0%, var(--primary-color) 90%);
  color: #fff;
  padding: 50px 8% 20px;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding-bottom: 30px;
}

/* Logo */
.footer-logo img {
  width: 180px;
}

/* Colunas */
.footer-column h3 {
  /* color: #ffec00; */
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 1.2rem;
  border-bottom: 1px dotted rgba(255,255,255,0.4);
  padding-bottom: 8px;
  display: inline-block;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin: 10px 0;
}

.footer-column ul li a {
  color: var(--text-color);
  position: relative;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s;
}
.footer-column ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 45%;
  height: 2.3px;
  background-color: var(--text-color);
  border-radius: 2px;
  transition: .1s ease;
}

.footer-column ul li a:hover::after {
  width: 100%;
}

/* Rodapé inferior */
.footer-bottom {
  text-align: center;
  margin-top: 25px;
  color: rgba(255,255,255,0.9);
  font-size: 0.9rem;
  line-height: 1.6;
}

.footer-bottom a {
  color: var(--quaternary-color);
  text-decoration: none;
  font-weight: 600;
}

.footer-bottom a:hover {
  text-decoration: underline;
}