@import url("global.css");

#tech-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Fundo escuro elegante */
}

header {
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}

header .button-voltar {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 1px 6px;
  border-radius: 15px;
  color: var(--text-color);
}

header .button-voltar:hover {
  color: var(--primary-color);
  background-color: var(--text-color);
}

header .button-voltar p {
  display: flex;
  align-items: center;
  text-align: center;
}

header .button-voltar .bi {
  font-size: 1.4rem;
}

header img {
  width: 9rem;
}

.artigo-principal-section {
  max-width: 90vw;
  margin: 95px auto;
  padding: 0 20px;
  color: var(--dark-text-color);
}

strong {
  color: var(--primary-color);
  font-weight: 600;
}

.artigo-principal-cabecalho {
  margin-bottom: 3rem;
}

.artigo-principal-titulo {
  font-size: 2.3rem;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 1.3;
}

.artigo-principal-corpo {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  flex-wrap: wrap;
}

.artigo-principal-corpo .box-bolsista {
  background-color: #fff;
  max-width: 550px;
  border-radius: 15px;
  padding: 2rem;
  text-align: justify;
  border: 1px #c1c1c1 solid;
  transition: .3s ease;
}

.artigo-principal-corpo .box-bolsista:hover {
  transform: translateY(-10px);
  border: 1px var(--secondary-color) solid;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.30); */
}

.foto {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
}

.foto img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.box-bolsista h2 {
  background: linear-gradient(155deg, var(--primary-color) 35%, var(--secondary-color));
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 1.3rem;
  margin-top: 35px;
  margin-bottom: 10px;
}

.box-bolsista p {
  line-height: 1.7;
  font-size: .85rem;
  margin-bottom: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  .artigo-principal-titulo {
    font-size: 1.8rem;
  }

  .artigo-principal-corpo h2 {
    font-size: 1.2rem;
  }

  .artigo-principal-info {
    flex-direction: column;
    gap: 5px;
  }
}